:root {
    @custom-media --large-desktop (min-width: 1280px);
    @custom-media --desktop (max-width: 1279px);
    @custom-media --tablet (max-width: 979px);
    @custom-media --mobile (max-width: 480px);
}